* {
    font-family: Arial;
}

#people-block{
    display: inline;
}

#prime-form{
    display: inline-block;
    width: 30%;
    border: 10px solid #c7f2e8;
    background-color: rgba(227, 250, 250);
}

#people-list{
    width: 30%;
    border: 10px solid #c7e8f2;
    background-color: rgba(247, 228, 247);
}

#people-list-documents, #list-documents{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#people-list-documents form, #list-documents form{
    background-color: white;
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
}

#people-list-documents form > * {
    margin-bottom: 5px;
}

#list-documents form > * {
    margin-bottom: 5px;
}