* {
    font-family: Arial;
}

#document-form, #document-filling-form{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}

#people-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #88888878;
}


#people-form form, #people-put-form form, #document-form form, #document-filling-form form{
    background-color: white;
    border: 1px solid #333;
    width: 300px;
    padding: 20px;
}

#people-form h2 {
    margin-top: 0;
}

#people-form label{
    display: block;
}

#people-form form > * {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 0;
}